@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


header{
    height:9rem;
    width:100%;
   display: flex;
    padding:0.5rem;
    
}
#pccoerlogo img{
    width:7rem;
    height:7rem;
    margin-left: 9rem;   
}
#pcetlogo img{
    width:7rem;
    height:7rem;
    margin-right: 10rem;
}

.college{
    text-align: center;
    width:70rem;
    line-height: 0.5rem;
    margin-top: -0.5rem;
    
}

#pcet,#college_name{
    color: #3b5999;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem; 
}


#description,#description1{
    width:50rem;
    display: flex;
    justify-content: center;
    line-height: 1rem;
    margin-top: -0.7rem;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    margin-left: 9rem;

}
#description1{
    margin-top: -0.5rem;
}

#college_name{
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;

}
.nav{
    height:2.7rem;
    background-color: rgb(103, 201, 246);
   margin-top: -1rem;
   display: flex;
    justify-content: center;
    
}
.nav ul{
    width:40rem;
    display: flex;
    font-size: 1.2rem;
    margin-top: 2rem;
    align-items: center;
    justify-content:space-between;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    color:white;
    font-weight: bold;
}
.nav li{
    height:2.5rem;
    margin-top:-1rem;
    
    
}
.nav li:hover{
    background-color: #0d68c4;
}
.announcements {
    background-color: white;
    height: 2rem;
    display: flex;  
}

.a1 {
    width: 13rem;
    color: white;
    background-color: rgb(66, 128, 222);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 4rem;
}

.a2 {
    flex-grow: 1; 
    
    overflow: hidden; 
    display: flex;
    justify-content: space-between; 
}

.a2 ul {
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.5rem;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    animation: loop 20s linear infinite; 
}

.a2 li {
    margin-left: 5rem;
    color: #3b5999;
    margin-top: 0.5rem;
}

@keyframes loop {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}
#welcome{
    width:15rem;
    height: 5rem;
    font-size: 2rem;
   font-family:sans-serif;
    text-align: center;
   position: absolute;
   top:16rem;
   margin-left: 42rem;
   color:white;
   font-weight: bold;
   
}

#pccoer-img img{
    
    width:100%;
    height:38rem;
    object-fit: fill;
}