@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

header {
  height: auto;
  /*width: auto;*/
  display: flex;
  padding: 0.5rem;
}
.headerfelx {
  position: relative;
  top: 0rem;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 7rem;
}

#pccoerlogo img {
  width: 7rem;
  height: 7rem;

  margin-top: -0.5rem;
}
#pcetlogo img {
  width: 7rem;
  height: 7rem;
}

.college {
  text-align: center;
  line-height: 1.7rem;
  margin-top: -0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

#pcet,
#college_name {
  color: #3b5999;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}
#pcet {
  margin-top: 1rem;
}

#description,
#description1 {
  width: auto;
  display: flex;
  justify-content: center;
  line-height: 1rem;
  margin-top: -1rem;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  padding: 0 5rem;
}
#description1 {
  margin-top: -0.5rem;
  margin-bottom: 2rem;
}

#college_name {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
  margin-top: -1rem;
}

.nav {
  height: 2.5rem;
  width: auto;
  background-color: rgb(103, 201, 246);
  margin-top: -1.5rem;
  display: flex;
  justify-content: center;
}
.nav ul {
  width: 40rem;
  display: flex;
  font-size: 1.2rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  list-style: none;
  color: white;
  font-weight: bold;
}
.nav li {
  height: 2.3rem;
  margin-top: -1rem;
}
.nav li:hover {
  background-color: #0d68c4;
  height: auto;
}
.announcements {
  background-color: white;
  height: 2rem;
  display: flex;
}

.a1 {
  width: 13rem;
  color: white;
  background-color: rgb(66, 128, 222);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 4rem;
}

.a2 {
  flex-grow: 1;

  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.a2 ul {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  align-items: center;
  font-family: "Poppins", sans-serif;
  list-style: none;
  animation: loop 20s linear infinite;
}

.a2 li {
  margin-left: 5rem;
  color: #3b5999;
  margin-top: 0.5rem;

}
.a2 li a{
  text-decoration: none;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#pccoer-img img {
  width: 100%;
  height: 38rem;
  object-fit: fill;
}
@media screen and (max-width: 550px) {
  #pccoerlogo img {
    position: relative;
    right: 0rem;
  }
  #pcet {
    font-size: 1rem;
    margin-top: -1rem;
  }
  #college_name {
    font-size: 1.5rem;
  }
  header,
  .headerfelx {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin: 0 -1rem;
  }
  #description,
  #description1 {
    padding: 0 0.1rem;
    font-size: 0.6rem;
  }

  .a1 {
    width: 8rem;

    position: relative;
    padding-left: 1rem;
  }
  .announcements {
    height: 1.7rem;
  }
  .a2 {
    position: relative;
    right: 0rem;
    width: 23rem;
  }
  .a2 li {
    margin-left: 1rem;

    width: 13rem;
  }

  #pcetlogo img {
    margin-top: -2rem;
  }
  .nav {
    height: 2rem;

    margin-top: 0rem;
    justify-content: center;
  }
  .nav ul {
    margin-left: -0.9rem;
  }
  .nav li,
  .a1,
  .a2 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 1506px) {
  .headerfelx {
    margin: 0 1rem;
  }
}
@media screen and (max-width: 1320px) {
  #pcet {
    font-size: 1.4rem;
  }
  #college_name {
    font-size: 1.5rem;
  }
  .a2 li {
    margin-left: 2rem;
  }
}
