header {
    height: auto;
    /*width: auto;*/
    display: flex;
    padding: 0.5rem;
  }
  
  .headerfelx {
    position: relative;
    top: 0rem;
    display: flex;
    text-align: center;
    align-items: center;
    /* margin: 0 7rem; */
  }
  
  #pccoerlogo img {
    width: 7rem;
    height: 7rem;
  
    margin-top: -0.5rem;
  }
  
  #pcetlogo img {
    width: 7rem;
    height: 7rem;
  }
  
  .college {
    text-align: center;
  
    line-height: 1.7rem;
    margin-top: -0.5rem;
  
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  #pcet,
  #college_name {
    color: #3b5999;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
  }
  
  #pcet {
    margin-top: 1rem;
  }
  
  #description,
  #description1 {
    width: auto;
    display: flex;
    justify-content: center;
    line-height: 1rem;
    margin-top: -1rem;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    padding: 0 5rem;
  }
  
  #description1 {
    margin-top: -0.5rem;
    margin-bottom: 2rem;
  }
  
  #college_name {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
    margin-top: -1rem;
  }
  
  .nav {
    height: 2.5rem;
    width: auto;
    background-color: rgb(103, 201, 246);
    margin-top: -1.5rem;
    display: flex;
    justify-content: center;
  }
  
  .nav ul {
    width: 40rem;
    display: flex;
    font-size: 1.2rem;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    list-style: none;
    color: white;
    font-weight: bold;
  }
  
  .nav li {
    height: 2.3rem;
    margin-top: -1rem;
  }
  
  .nav li:hover {
    background-color: #0d68c4;
    height: 2rem;
  }
#head{
    margin-top: 4rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
    letter-spacing: 0.2rem; 
}
#head:hover{
    color: #3b5999;
}
#conditions{
    margin-top: 3rem;
    text-align: justify;
    /* height: 10rem;
    width: 80rem; */
    margin-left: 4rem;
    font-family: "Poppins", sans-serif;
}
#listofconditions{
    text-align: justify;
    height: 20rem;
    width:70rem;
    margin-left: 4rem;
    font-family: "Poppins", sans-serif;
    line-height: 2.4rem;
}

#name{
    outline: none;
    border:0px solid;
    /* height: 3rem; */
    width:15rem;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    border-bottom: 0.1rem solid black;
    border-style: dotted;
    margin-left: 0.5rem;
}
#feedeclare{
    outline: none;
    border:0px solid;
    /* height: 3rem; */
    width:5.8rem;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    border-bottom: 0.1rem solid black;
    border-style: dotted;
    margin-left: 0.5rem;
    /* font-weight: bold; */
}
#rule4{
    font-weight: bold;
}
#cnd1{
    font-weight: bold;
}
#agreement{
    width:80rem;
    height: 10rem;
    margin-top: 47rem;
    margin-left: 4.7rem;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    accent-color: #3b5999;
    
}

.undertaking{
  border:4px solid black;
  margin:4rem;
}
