{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{%static '/css/Signup.css' %}">
</head>
<body>
    <div class="signupFrm" >
        <form  class="form" method = "POST" action="{% url 'register' %}">
            {% csrf_token %}
          <h1 class="title">Sign up</h1>
    
          <div class="inputContainer">
            <input type="text" class="input" placeholder="User Name" name = "firstname">
            <label for="" class="label">Firstname</label>
          </div>

          <div class="inputContainer">
            <input type="text" class="input" placeholder="User Name" name = "lastname">
            <label for="" class="label">Lastname</label>
          </div>
    
          <div class="inputContainer">
            <input type="text" class="input" placeholder="Email" name = "email">
            <label for="" class="label">Email</label>
          </div>
    
          <div class="inputContainer">
            <input type="text" class="input" placeholder="Password" name = "password">
            <label for="" class="label">Password</label>
          </div>
    
          <div class="inputContainer">
            <input type="text" class="input" placeholder="Confirm Password" name = "cpassword">
            <label for="" class="label">Confirm Password</label>
          </div>
    
          <input type="submit" class="submitBtn" value="Sign up">
        </form>
      </div>
</body>
</html>